*,body{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}
a{ 
    color: inherit; 
}
section.header{
    width: 100%;
    height: 80px;
    background-color: #D8EBF9;
    
}
.header .lista-menu{
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    

}
.header .lista-menu ul{
    margin: 0 auto;
    list-style: none;
    text-align: center;
        
    
}
.header .lista-menu ul li{
    display: inline;
    
}
.header .lista-menu ul li a{
    padding: 10px 10px;
    display: inline-block;
    text-decoration: none;
}
.calendario{
    width: 100%;
    border-collapse: collapse;
    background-color: ghostwhite;
}
.calendario tr p{
    text-align: center;
}

.calendario tr:first-child{
    background-color: #EBEBEB;
}
.calendario th:first-child, .calendario td:first-child{
    width: 50px !important;
}
.calendario th, .calendario td{
    min-width: 100px;
}
.calendario, th, td{
    border: 1px solid #CCC;
    height: 25px;
    text-align: center;
    
}
section.rodape{
    width: 100%;
    height: 200px;
    background-color: #D8EBF9;
}
div.container{
    width: 90%;
    min-height: 600px;
    padding-bottom: 20px;
    margin: 0 auto;
}
.detalhes-hospede{
    width: 50%;
    padding-top: 20px;
    
}
.lista-hospedes{
    padding-top: 20px;
    
}
.detalhes-hospede i{
    float: right;
    margin: 0 10px 5px;
    font-size: 31px;
    cursor: pointer;
}
.BotaoSalvarEdit{
    color: #fff;
    background-color: #ccc;
    float: right;
    margin: 0 10px 5px;
    font-size: 15px;
    padding: 5px;
    width: 60px;
    cursor: pointer;
}
.input-td{
    width:100%;
    height:100%;
}
.detalhes-hospede h2{
    margin-bottom: 15px;
}
.lista-hospedes table, .detalhes-hospede table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.lista-hospedes table td, th, .detalhes-hospede table td{
    border: 1px solid #CCC;
    text-align: left;
    padding: 5px;

}
.lista-hospedes table td, .detalhes-hospede table td{
    height: 30px;
}
.lista-hospedes table tr:first-child, .detalhes-hospede table tr th:first-child{
    background-color: #ddd;
}
#spannome, #spancpf, #spanemail, #spancelular, #spantelefone{
    color: #F00;
}
@media screen and (max-width: 1000px){
    .reservas-calendario{
        display: table;
        table-layout: fixed;
        width: 100%;
    }
    .calendario{
        display: table-cell;
        overflow-x: auto;
        width: 100%; 
    }
}

@media screen and (max-width: 800px){
    .lista-hospedes table .lastCol{
        display: none;
    }
    .lista-hospedes table td, th, .detalhes-hospede table td{
        padding: 8px;
        font-size: 15px;
    }
    .detalhes-hospede{
        width: 100%;
        
    }
    .detalhes-hospede h2{
        text-align: center;
    }
    .detalhes-hospede h2{
        margin-bottom: 20px;
        font-size: 30px;
    }
    .form_cadastrar_hospede{
        width: 100%;
        padding: 30px 5px;
        text-align: center;
        font-size: 20px;
    }
    .form_cadastrar_hospede h2{
        text-align: center;
        margin-bottom: 10px;
        
    }
    .form_cadastrar_hospede input{
        width: 90%;
        padding: 6px;
        margin: 5px auto;
        border-color: #000;
        font-size: 15px;
    }
    .form_cadastrar_hospede button{
        width: 100px;
        height: 50px;
        font-size: 20px;
    }
    .form_cadastrar_hospede span{
        display: inline-block;
    }
    
}

